In [1]:
import json


import pandas as pd


#transactions_final

with open('transactions_final.json') as f:
    transactions = json.load(f)

list_trans_id = []

dict_transactions = {}

for key, transaction in transactions['transactions'].items():
    list_trans_id.append(key)
    for k, v in transaction.items():
        if not dict_transactions.get(k):
            dict_transactions[k] = []
            dict_transactions[k].append(v)
        else:
            dict_transactions[k].append(v)

dict_transactions['transaction_id'] = list_trans_id

In [2]:
df = pd.DataFrame(dict_transactions) # data frame для нового паттерна
df.head(4)

,date,card,account,account_valid_to,client,last_name,first_name,patronymic,date_of_birth,passport,passport_valid_to,phone,oper_type,amount,oper_result,terminal,terminal_type,city,address,transaction_id
0,2020-05-04T00:00:04,50785425162189603667,7456771640,2026-03-06,6-33721,Кадимов,Корнелиус,Ковалько,1993-09-17,2300733597,2027-12-11,+74304126656,Оплата,6734.10,Успешно,POS43792,POS,Нижний Новгород,"Нижний Новгород, ул. Короленковская, д. 5",3649235840
1,2020-05-04T00:01:19,57642678631657633216,7456771641,2025-08-15,6-33721,Кадимов,Корнелиус,Ковалько,1993-09-17,2300733597,2021-10-19,+74304126656,Снятие,69108.86,Отказ,POS43792,POS,Заречный,"Заречный, ул. Селянская, д. 57",3649235841
2,2020-05-04T00:02:51,50606101490380719590,7456771642,2034-09-08,2-10067,Котков,Валерьян,Байбаков,1946-09-08,3153290165,2006-07-07,+74832003245,Снятие,52699.45,Успешно,POS43792,POS,Донецк,"Донецк, ул. Возрождения, д. 23",3649235842
3,2020-05-04T00:04:16,40801177229019601602,7456771643,2033-12-14,7-17459,Сафьянов,Кондрат,Романцов,1965-11-27,3307023178,2031-11-17,+75914405368,Оплата,9705.71,Успешно,POS28311,POS,Красноуфимск,"Красноуфимск, ул. Старошишковская, д. 77",3649235843

In [3]:
# недействительный аккаунт
a = df[df['date'] > df['account_valid_to']]['transaction_id'].tolist()

#f = open('invalid_account_ids.txt','w')
#for id_oper in a:
#    f.write(id_oper)
#    f.write(', ')
a = df[df['date'] > df['account_valid_to']]
a.head(4)

,date,card,account,account_valid_to,client,last_name,first_name,patronymic,date_of_birth,passport,passport_valid_to,phone,oper_type,amount,oper_result,terminal,terminal_type,city,address,transaction_id
25,2020-05-04T00:35:17,54351853040815910412,7456771665,2005-10-15,5-01815,Данчиков,Элджернон,Подопрыгоров,1990-06-12,8870665843,2025-11-13,+78082044739,Оплата,89350.59,Успешно,POS75616,POS,Лагань,"Лагань, ул. Старая Поляная, д. 1",3649235865
26,2020-05-04T00:36:36,44930928660709788418,7456771666,2015-03-03,5-01815,Данчиков,Элджернон,Подопрыгоров,1990-06-12,8870665843,2033-07-11,+78082044739,Снятие,64978.40,Успешно,POS75616,POS,Лагань,"Лагань, ул. Старая Поляная, д. 1",3649235866
27,2020-05-04T00:37:43,51419816135305384739,7456771667,2014-08-29,5-01815,Данчиков,Элджернон,Подопрыгоров,1990-06-12,8870665843,2034-04-17,+78082044739,Оплата,14375.92,Отказ,POS75616,POS,Лагань,"Лагань, ул. Старая Поляная, д. 1",3649235867
75,2020-05-04T01:43:30,57270415368961360823,7456771715,2012-11-05,2-34029,Китайчик,Абид,Островсков,1966-01-25,3872751164,2029-04-11,+76369854578,Пополнение,50704.38,Успешно,POS75616,POS,Лениногорск,"Лениногорск, ул. Базисная 2-ая, д. 71",3649235915

In [4]:
#недействительный паспорт
b = df[df['date'] > df['passport_valid_to']]['transaction_id'].tolist()

#f = open('invalid_passport_ids.txt','w')
#for id_oper in b:
#    f.write(id_oper)
#    f.write(', ')
b = df[df['date'] > df['passport_valid_to']]
b.head(4)

,date,card,account,account_valid_to,client,last_name,first_name,patronymic,date_of_birth,passport,passport_valid_to,phone,oper_type,amount,oper_result,terminal,terminal_type,city,address,transaction_id
2,2020-05-04T00:02:51,50606101490380719590,7456771642,2034-09-08,2-10067,Котков,Валерьян,Байбаков,1946-09-08,3153290165,2006-07-07,+74832003245,Снятие,52699.45,Успешно,POS43792,POS,Донецк,"Донецк, ул. Возрождения, д. 23",3649235842
28,2020-05-04T00:38:57,56429703831426013992,7456771668,2027-01-15,6-28309,Резвяков,Авирмэд,Данильчев,1995-03-11,3256468165,2013-01-24,+72761571063,Пополнение,38505.22,Успешно,POS28311,POS,Кострома,"Кострома, ул. Мира, д. 51",3649235868
119,2020-05-04T02:45:04,47504294912053871603,7456771759,2034-10-19,8-68970,Скоблилов,Зеэв,Безрукий,1980-11-26,9877664661,2005-11-19,+70872909233,Пополнение,64418.71,Успешно,POS75616,POS,Питкяранта,"Питкяранта, ул. Кубанская, д. 31",3649235959
120,2020-05-04T02:46:15,54142362437559523627,7456771760,2030-07-12,8-68970,Скоблилов,Зеэв,Безрукий,1980-11-26,9877664661,2010-09-25,+70872909233,Пополнение,18163.59,Отказ,POS75616,POS,Питкяранта,"Питкяранта, ул. Кубанская, д. 31",3649235960

In [5]:
df

,date,card,account,account_valid_to,client,last_name,first_name,patronymic,date_of_birth,passport,passport_valid_to,phone,oper_type,amount,oper_result,terminal,terminal_type,city,address,transaction_id
0,2020-05-04T00:00:04,50785425162189603667,7456771640,2026-03-06,6-33721,Кадимов,Корнелиус,Ковалько,1993-09-17,2300733597,2027-12-11,+74304126656,Оплата,6734.10,Успешно,POS43792,POS,Нижний Новгород,"Нижний Новгород, ул. Короленковская, д. 5",3649235840
1,2020-05-04T00:01:19,57642678631657633216,7456771641,2025-08-15,6-33721,Кадимов,Корнелиус,Ковалько,1993-09-17,2300733597,2021-10-19,+74304126656,Снятие,69108.86,Отказ,POS43792,POS,Заречный,"Заречный, ул. Селянская, д. 57",3649235841
2,2020-05-04T00:02:51,50606101490380719590,7456771642,2034-09-08,2-10067,Котков,Валерьян,Байбаков,1946-09-08,3153290165,2006-07-07,+74832003245,Снятие,52699.45,Успешно,POS43792,POS,Донецк,"Донецк, ул. Возрождения, д. 23",3649235842
3,2020-05-04T00:04:16,40801177229019601602,7456771643,2033-12-14,7-17459,Сафьянов,Кондрат,Романцов,1965-11-27,3307023178,2031-11-17,+75914405368,Оплата,9705.71,Успешно,POS28311,POS,Красноуфимск,"Красноуфимск, ул. Старошишковская, д. 77",3649235843
4,2020-05-04T00:05:56,57447203234952512132,7456771644,2025-06-20,2-68359,Карельский,Алишер,Шавкунин,1984-09-12,6750185314,2030-01-09,+74862414292,Пополнение,82576.50,Отказ,POS75616,POS,Черкесск,"Черкесск, ул. Гинтовта, д. 56",3649235844
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10228,2020-05-13T17:56:34,51455507818735472585,7456781868,2032-08-15,1-52990,Ходкевич,Джихангир,Сережников,1986-07-12,5338669072,2021-10-17,+70425393833,Снятие,45461.23,Отказ,POS43792,POS,Камбарка,"Камбарка, ул. Тикоцкого, д. 49",3649246068
10229,2020-05-13T17:57:42,56249165876813962365,7456781869,2028-01-05,9-44341,Глеб,Арам,Понькин,1941-02-06,8123902581,2028-02-08,+73271258441,Снятие,35450.79,Успешно,POS43792,POS,Мариинский Посад,"Мариинский Посад, ул. Юнкерова Николая, д. 96",3649246069
10230,2020-05-13T17:59:25,40085487866355277437,7456781870,2033-03-18,2-78222,Иноземцев,Филарет,Татьянищев,1932-04-12,3563544247,2014-04-02,+77123421714,Пополнение,84430.08,Успешно,POS43792,POS,Облучье,"Облучье, ул. Ирченко, д. 49",3649246070
10231,2020-05-13T18:00:38,56747369443847407380,7456781871,2032-02-12,3-90021,Стручков,Лукас,Арсенович,1968-06-01,2673115069,2023-11-21,+75194136280,Оплата,88799.29,Отказ,POS28311,POS,Хадыженск,"Хадыженск, ул. Кленовая, д. 88",3649246071
10232,2020-05-13T18:01:55,49980533515915293407,7456781872,2026-12-03,3-90021,Стручков,Лукас,Арсенович,1968-06-01,2673115069,2023-11-21,+75194136280,Пополнение,4298.80,Успешно,POS28311,POS,Хадыженск,"Хадыженск, ул. Кленовая, д. 88",3649246072

In [6]:
c = [df['date'],df['date_of_birth']]
for i in range(0,10232+1):
    date = c[0][i]
    date_of_birth = c[1][i]
    date_of_birth = str(int(date_of_birth[0:4]) + 20) + date_of_birth[4::]
    if date < date_of_birth:
        print(date,date_of_birth)

2020-05-04T04:27:51 2021-01-11
2020-05-04T04:29:26 2021-01-11
2020-05-04T04:30:52 2021-01-11
2020-05-04T04:32:16 2021-01-11
2020-05-04T04:33:18 2021-01-11
2020-05-04T04:34:55 2021-01-11
2020-05-04T04:36:01 2021-01-11
2020-05-04T04:37:41 2021-01-11
2020-05-04T04:39:06 2021-01-11
2020-05-04T04:40:43 2021-01-11
2020-05-04T04:42:04 2021-01-11
2020-05-04T04:43:45 2021-01-11
2020-05-04T04:45:29 2021-01-11
2020-05-04T04:46:40 2021-01-11
2020-05-04T05:24:43 2021-03-19
2020-05-04T05:25:43 2021-03-19
2020-05-04T14:15:54 2020-07-05
2020-05-04T14:17:33 2020-07-05
2020-05-04T14:19:13 2020-07-05
2020-05-04T17:10:00 2020-12-27
2020-05-04T17:11:27 2020-12-27
2020-05-04T17:13:03 2020-12-27
2020-05-04T17:14:48 2020-12-27
2020-05-04T17:16:02 2020-12-27
2020-05-04T17:17:12 2020-12-27
2020-05-04T17:18:43 2020-12-27
2020-05-04T17:19:44 2020-12-27
2020-05-04T17:20:54 2020-12-27
2020-05-04T17:22:21 2020-12-27
2020-05-04T17:23:43 2020-12-27
2020-05-05T05:17:32 2021-04-25
2020-05-05T05:18:38 2021-04-25
2020-05-05T05:20:17 2021-04-25
2020-05-05T14:02:14 2020-11-19
2020-05-05T23:33:44 2020-06-03
2020-05-05T23:34:50 2020-06-03
2020-05-06T00:18:43 2021-03-17
2020-05-06T00:20:26 2021-03-17
2020-05-06T00:21:47 2021-03-17
2020-05-06T00:23:01 2021-03-17
2020-05-06T00:24:46 2021-03-17
2020-05-06T00:25:51 2021-03-17
2020-05-06T00:27:10 2021-03-17
2020-05-06T00:28:34 2021-03-17
2020-05-06T00:29:47 2021-03-17
2020-05-06T07:06:21 2020-05-08
2020-05-06T07:07:25 2020-05-08
2020-05-06T09:13:34 2021-02-13
2020-05-06T09:15:13 2021-02-13
2020-05-06T09:16:56 2021-02-13
2020-05-06T09:18:32 2021-02-13
2020-05-06T09:20:00 2021-02-13
2020-05-06T09:21:26 2021-02-13
2020-05-06T09:22:34 2021-02-13
2020-05-06T09:23:56 2021-02-13
2020-05-06T09:25:38 2021-02-13
2020-05-06T09:27:05 2021-02-13
2020-05-06T09:28:32 2021-02-13
2020-05-06T22:12:38 2021-04-23
2020-05-07T22:53:47 2021-03-10
2020-05-07T22:54:53 2021-03-10
2020-05-07T22:56:30 2021-03-10
2020-05-07T22:58:07 2021-03-10
2020-05-07T22:59:38 2021-03-10
2020-05-07T23:01:01 2021-03-10
2020-05-08T20:17:51 2020-07-30
2020-05-08T22:41:15 2020-09-14
2020-05-09T18:20:29 2020-09-03
2020-05-09T18:21:55 2020-09-03
2020-05-09T18:23:18 2020-09-03
2020-05-09T18:24:20 2020-09-03
2020-05-09T18:25:26 2020-09-03
2020-05-09T18:26:36 2020-09-03
2020-05-09T18:28:01 2020-09-03
2020-05-09T18:29:19 2020-09-03
2020-05-09T18:30:43 2020-09-03
2020-05-09T18:31:50 2020-09-03
2020-05-09T18:33:35 2020-09-03
2020-05-09T18:34:43 2020-09-03
2020-05-09T18:35:55 2020-09-03
2020-05-09T23:37:16 2020-10-30
2020-05-09T23:38:40 2020-10-30
2020-05-09T23:39:48 2020-10-30
2020-05-09T23:41:08 2020-10-30
2020-05-09T23:42:25 2020-10-30
2020-05-09T23:43:30 2020-10-30
2020-05-09T23:44:58 2020-10-30
2020-05-09T23:46:37 2020-10-30
2020-05-09T23:48:10 2020-10-30
2020-05-09T23:49:35 2020-10-30
2020-05-10T09:59:09 2020-10-09
2020-05-10T10:00:53 2020-10-09
2020-05-10T10:02:19 2020-10-09
2020-05-10T12:04:27 2020-12-04
2020-05-11T01:57:59 2021-01-15
2020-05-11T01:59:17 2021-01-15
2020-05-11T02:00:37 2021-01-15
2020-05-11T02:01:45 2021-01-15
2020-05-11T02:03:06 2021-01-15
2020-05-11T02:04:32 2021-01-15
2020-05-11T02:05:40 2021-01-15
2020-05-11T02:06:54 2021-01-15
2020-05-11T02:08:08 2021-01-15
2020-05-11T02:09:31 2021-01-15
2020-05-11T03:33:28 2020-07-02
2020-05-11T03:34:37 2020-07-02
2020-05-11T03:35:39 2020-07-02
2020-05-11T08:22:47 2021-01-05
2020-05-11T08:24:11 2021-01-05
2020-05-11T08:25:34 2021-01-05
2020-05-11T08:26:37 2021-01-05
2020-05-11T08:28:14 2021-01-05
2020-05-11T08:29:43 2021-01-05
2020-05-12T04:09:17 2020-08-15
2020-05-12T15:27:23 2021-02-01
2020-05-12T15:29:08 2021-02-01
2020-05-13T07:34:05 2020-07-08
2020-05-13T07:35:31 2020-07-08
2020-05-13T07:37:01 2020-07-08
2020-05-13T07:38:28 2020-07-08
2020-05-13T07:39:46 2020-07-08
2020-05-13T07:41:00 2020-07-08
2020-05-13T07:42:33 2020-07-08
2020-05-13T07:43:57 2020-07-08
2020-05-13T07:45:05 2020-07-08
2020-05-13T07:46:07 2020-07-08
2020-05-13T07:47:37 2020-07-08
2020-05-13T07:48:56 2020-07-08
2020-05-13T07:50:28 2020-07-08
2020-05-13T07:51:50 2020-07-08
2020-05-13T07:53:24 2020-07-08

In [7]:
df.head(4)

,date,card,account,account_valid_to,client,last_name,first_name,patronymic,date_of_birth,passport,passport_valid_to,phone,oper_type,amount,oper_result,terminal,terminal_type,city,address,transaction_id
0,2020-05-04T00:00:04,50785425162189603667,7456771640,2026-03-06,6-33721,Кадимов,Корнелиус,Ковалько,1993-09-17,2300733597,2027-12-11,+74304126656,Оплата,6734.10,Успешно,POS43792,POS,Нижний Новгород,"Нижний Новгород, ул. Короленковская, д. 5",3649235840
1,2020-05-04T00:01:19,57642678631657633216,7456771641,2025-08-15,6-33721,Кадимов,Корнелиус,Ковалько,1993-09-17,2300733597,2021-10-19,+74304126656,Снятие,69108.86,Отказ,POS43792,POS,Заречный,"Заречный, ул. Селянская, д. 57",3649235841
2,2020-05-04T00:02:51,50606101490380719590,7456771642,2034-09-08,2-10067,Котков,Валерьян,Байбаков,1946-09-08,3153290165,2006-07-07,+74832003245,Снятие,52699.45,Успешно,POS43792,POS,Донецк,"Донецк, ул. Возрождения, д. 23",3649235842
3,2020-05-04T00:04:16,40801177229019601602,7456771643,2033-12-14,7-17459,Сафьянов,Кондрат,Романцов,1965-11-27,3307023178,2031-11-17,+75914405368,Оплата,9705.71,Успешно,POS28311,POS,Красноуфимск,"Красноуфимск, ул. Старошишковская, д. 77",3649235843